<mat-card>
    <h1>Add student</h1>
    <form #bookForm="ngForm">
      <div class="example-container">
        <p>
            <mat-form-field appearance="standard">
              <mat-label>Math</mat-label>
              <input matInput 
                [(ngModel)] = "math"
                name = "math"
                required>
            </mat-form-field>
          </p> 
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Psi</mat-label>
              <input matInput 
                [(ngModel)] = "psi" 
                name = "psi" 
                required>
            </mat-form-field>
          </p> 

          <section class="example-section">
            <mat-checkbox class="example-margin"
            (change)= "pay= !pay"
            >did pay?</mat-checkbox>
           
          </section>                             
        
          <div  *ngIf = "!pressed">
            <button  mat-raised-button color="primary" 
                    (click)= "predict()"
                      >
                     Predict
            </button>            
        </div>
        
          <div *ngIf = "pressed" >
            <button mat-raised-button color="primary" 
                    (click)= "saveStudent()">
                     Save
            </button >
            <button *ngIf = "pressed" mat-raised-button  
                    (click)= "cancle()">
                     Cancel
            </button>            
        </div>
      </div>
    </form>
   </mat-card>

   {{ answer}}




