
  <table mat-table [dataSource]="students" class="mat-elevation-z8">
  
     
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <span >{{element.email}}</span> 
        </td>
      </ng-container>
    
      
      <ng-container matColumnDef="Math">
        <th mat-header-cell *matHeaderCellDef> Math</th>
        <td mat-cell *matCellDef="let element; let i = index">
          <span >{{element.math}}</span>        
        </td>
      </ng-container>
    
     
      <ng-container matColumnDef="Psi">
        <th mat-header-cell *matHeaderCellDef> Psi </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <span >{{element.psi}}</span>        
        </td>
      </ng-container>

      <ng-container matColumnDef="Predict">
        <th mat-header-cell *matHeaderCellDef> Predict </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <span >{{element.predict}}</span>        
        </td>
      </ng-container>
  
      <ng-container matColumnDef="Delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <button 
            mat-raised-button
            color = 'warn'
            (click) = "deleteStudent(i)"
          >
            Delete
          </button>                  
        </td>
      </ng-container>    
  
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
    </table>
